<%- include('../layouts/userHeader') %>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Set your new password</p>
                    <h1>Reset Password</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="container">
    <form id="resetPasswordForm" action="/resetPassword" method="post">
        <div class="mb-3">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Set New Password</button>
    </form>
    <div id="passwordAlert" class="alert alert-danger mt-3" style="display: none;"></div>

    <script>
        document.getElementById("resetPasswordForm").addEventListener("submit", function (event) {
            const newPassword = document.getElementById("newPassword").value;
            const confirmPassword = document.getElementById("confirmPassword").value;

            if (newPassword.length < 6 || !hasSymbol(newPassword) || newPassword !== confirmPassword) {
                event.preventDefault(); 

                // Show alert message
                const passwordAlert = document.getElementById("passwordAlert");
                passwordAlert.textContent = "Password should be at least 6 characters long, include a symbol, and match the confirmation.";
                passwordAlert.style.display = "block";
            }
        });

        function hasSymbol(str) {
            const symbolRegex = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/;
            return symbolRegex.test(str);
        }
    </script>
</div>


<%- include('../layouts/userfooter') %>
